# dependencies
/node_modules

# build outputs
/build
/dist

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# coverage reports
/coverage

# editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# deployment config
.vercel/
.netlify/
